.binnacle{
    width:650px;
    margin:30px auto
}
.binnacle>p{
    font-size: 1.3rem;
}
.binnacle__cards{
    margin:40px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.containerButton{
    margin: 10px 0;
}
.containerButton>button{
    padding:0
}
/* COMPONENT: BinnacleCard */
.binnacleCard-container{
    padding:10px;
    border:1px solid gray;
    width: min-content;
    margin:auto
}
.binnacleCard{
    width:650px;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:10px;
}
.binnacleCard__date{
    padding: 0 10px;
}
.binnacleCard__info {
    height: 70px;
    overflow-y: auto;
    word-wrap: break-word;
}
.binnacleCard__info::-webkit-scrollbar{
    width: 7px;
    border-radius: 3px;
}
.binnacleCard__info::-webkit-scrollbar-thumb{
    background-color: rgb(134, 133, 133);
    border-radius: 3px;
}
.binnacleCard__info::-webkit-scrollbar-track{
    background-color: rgb(9, 31, 56);
    border-radius: 3px;
}

.binnacleCard__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    padding:10px
}
.binnacleCard__buttons-item{
    padding:0
}