.binnacle{
    width:600px;
    margin:30px auto;
    color:var(--color-secondary);
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:start;
    gap:10px
}
.binnacle>p{
    font-size: 1.3rem;
}
.binnacle__cards{
    width:100%;
    margin:40px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerButton{
    margin: 10px 0;
}
.containerButton>button{
    padding:0
}
.binnacle__cards-empity{
    width: 100%;
    height: 50px;
    background-color: var(--background-secondary);
    display: flex;
    align-items: center;
    justify-content: start;
    padding:20px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 1px rgb(49, 49, 49);
}
/* COMPONENT: BinnacleCard */
.binnacleCard-container{
    margin: 5px;
}
.binnacleCard{
    width:600px;
    height: 100px;
    background-color: var(--background-secondary);
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap:10px;
    padding:10px 0;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 1px rgb(49, 49, 49);
    overflow:hidden
}
.binnacleCard__date{
    padding: 0 10px;
}
.binnacleCard__info {
    padding:3px 0;
    height: 70px;
    overflow-y: auto;
    word-wrap: break-word;
}
.binnacleCard__info::-webkit-scrollbar{
    width: 7px;
    border-radius: 3px;
}
.binnacleCard__info::-webkit-scrollbar-thumb{
    background-color: rgb(66, 66, 66);
    border-radius: 3px;
}
.binnacleCard__info::-webkit-scrollbar-track{
    background-color: rgb(11, 46, 87);
    border-radius: 3px;
}

.binnacleCard__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    padding:10px
}
.binnacleCard__buttons-item{
    padding:0
}

@media screen and (max-width: 768px){
    .binnacle{
        width:450px
    }
    .binnacle>p{
        font-size: 1.1rem;
    }
    .binnacleCard{
        width:450px;
        height:80px;
        font-size:.9rem
    }
    .binnacleCard__buttons{
        gap:10px
    }
}
@media screen and (max-width: 480px){
    .binnacle{
        width:340px
    }
    .binnacleCard{
        width:340px;
        height:75px;
        font-size:.8rem;
    }
    .binnacleCard__buttons{
        gap:5px
    }
}