.footer{
    background-color: var(--color-main);
    color:black;
    font-weight: bold;
    padding:10px 50px;
    height:65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 768px){
    .footer{
        height:auto;
        font-size:.9rem;
        display:flex;
        align-items:center;
        justify-content:space-evenly;
        flex-wrap:wrap;
        gap:15px;
        padding:20px
    }
}
@media screen and (max-width: 480px){
    .footer{
        font-weight:400;

    }
}