.hero{
    margin:120px auto;
    text-align: center;
    color:var(--color-primary)
}
.hero p{
    font-size: 1.1rem;
}
.hero__title h1{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin:40px 0 15px 0
}
@media screen and (max-width: 768px){
    .hero__title h1{
        font-size: 1.7rem;
    }
    .hero__title img{
        width:110px;
        height: 110px;
    }
}
@media screen and (max-width: 480px){
    .hero__title h1{
        font-size: 1.5rem;
    }
    .hero__title img{
        width:90px;
        height: 90px;
    }
    .hero p{
        font-size: 1rem;
    }
}