.hero{
    margin:50px auto;
    text-align: center;
    color:var(--color-primary)
}
.hero p{
    font-size: 1.1rem;
}
.hero__title h1{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 480px){
    .hero__title h1{
        font-size: 1.7rem;
    }
    .hero__title img{
        width:100px;
        height: 100px;
    }
}