.header-session{
    width:100%;
    padding:15px;
    height: 100px;
    background-color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px;
    padding:0 20px 30px 20px;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
}

/* COMPONENT: FormRegister and FormLogin */
.formContainer{
    width:550px;
    height: min-content;
    background-color: rgba(0, 0, 0, 0.308);
    color:var(--color-primary);
    backdrop-filter: blur(10px);
    margin:170px auto;
    padding:30px;
    border-radius: 10px;

}
.formContainer h1{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom:20px
}
.formContainer__info{
    padding:10px;
    margin:auto;
    text-align: center;
    display: flex;
    gap:5px
}
.form{
    display: flex;
    flex-direction: column;
    gap:10px
}
.inputContainer{
    display: flex;
    flex-direction: column;
    position: relative;
}
.inputContainer label{
    padding:10px
}
.inputContainer input{
    padding:10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.308);
}
.inputContainer input::placeholder{
    color:var(--color-tertiary)
}   
.inputContainer input:focus{
    border:1px solid orange
}
.inputContainer__icon{
    position: absolute;
    top:50px;
    right: 15px;
}
.form__error{
    color:rgb(219, 64, 36);
    font-weight: bold;
}
.form__button{
    padding:10px;
    margin-top:20px;
    background-color: rgb(0, 102, 255);
    font-size: .9rem;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 5px;
}

@media screen and (max-width: 768px){
    .formContainer{
        width: 400px;
    }
    .formContainer h1{
        font-size: 1.1rem;
    }
    .form{
        gap:5px
    }
    .formContainer__info{
        font-size: .9rem;
    }
    .inputContainer label{
        font-size: .9rem;
        padding:5px
    }
    .inputContainer input{
        padding:8px
    }
    .inputContainer__icon{
        top:36px;
        right: 10px;
    }
}
@media screen and (max-width: 480px){
    .header-session img{
        width:40px;
        height:40px
    }
    .formContainer{
        width: 300px;

    }
    .inputContainer input{
        font-size: .8rem;
    }
    .inputContainer__icon{
        font-size: .7rem;
        top:40px;
        right:7px
    }
}